<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.gift">
    <!--礼物特效的demo-->
    <!--使用框架地址：http://svga.io/index.html-->
    <!--原理：加载svga文件-->
    <!--加载的路径有以下三种：-->
    <!--1.从assets中加载-->
    <!--2.通过url加载-->
    <!--3.将文件转换成流，加载流-->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>